 <div class="container">

<div id="floated">
<img src="{{image_url}}" alt="" style="height:500px">
</div>

<h1> {{this.name }} </h1>
<h2> {{this.tagline }} </h2>
<p> {{this.description }} </p>
</div>

</div>


